#navbar a {
  color: #333333 !important; /*Greater contrast for accessibility*/
  }

.navbar-header a {
  color: #333333 !important;
}

p,
.container-fluid > ul,
.section > ul,
.dropdown-menu,
#TOC,
#navbar,
.panel-title {
  font-size: large; /*Larger font for accessibility*/
  line-height: 1.8;
}