
body {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

em {
  font-style: normal;
}

.caption,
figcaption {
  font-weight: 900;
  font-size: large; /*Larger font for accessibility*/
}

p,
.container-fluid > ul,
.section > ul,
.dropdown-menu,
.panel-title,
.ds_inset-text,
#TOC,
#navbar {
  font-size: large; /*Larger font for accessibility*/
  line-height: 1.8;
}

table {
  font-size: 15px;
}

a {
  color: #0065bd !important;
  text-decoration: underline;
  outline: 2px solid transparent;
  outline-color: transparent;
  outline-style: solid;
  outline-width: 2px;
  transition: color 0.2s, background-color 0.2s, outline 0.2s;
}

/* Navigation bar */

.navbar-brand,
.navbar-nav>li>a {
  color: #333333 !important;
  text-decoration: none;
  line-height: 1.8;
  height: 62px;
}

.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: large;
    line-height: 1.8;
    color: #777;
    white-space: nowrap;
}

.navbar-default {
    background-color: #fff;
    border-color: #e7e7e7;
}

#navbar > ul > li:hover {
  background-color: #e7e7e7;
  box-shadow: -2px 5px #333333, 2px 5px #333333;
  outline-offset: 0;
  outline: 2px solid #e7e7e7;
  transition-duration: 0s;
}

@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

/* TOC */

.list-group-item.active {
    background-color: #002d54;
    border-color: #002d54;
}

.list-group-item.active:focus,
.list-group-item.active:hover {
    background-color: #0065bd;
    border-color: #0065bd;
}

/* Info "box" */

.ds_inset-text {
    padding-left: 32px;
    padding-right: 64px;
    border-left: 8px solid #b3b3b3;
    border-bottom: 1px solid #ebebeb;
    background-color: #f8f8f8;
    padding: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}

/* Key message "box" */

.message-text {
    padding-left: 32px;
    padding-right: 64px;
    border-left: 8px solid #0065bd;
    border-bottom: 1px solid #7fb2de;
    background-color: #d9effc;
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: bold;
    color: #002d54;
}

/* Notes to self */

.devnote-text {
    padding-left: 32px;
    padding-right: 64px;
    margin-top: 16px;
    margin-bottom: 16px;
    color: red;
}

#sglogo {
  padding-top: 10px;
  padding-bottom: 10px;
}

#sglogo:focus {
  padding-bottom: 8px;
}

/* National Statistics badge */
#badge {
  height: 70px;
  margin: 0 10px;
  float: right;
}

a:focus {
    background-color: #fdd522 !important;
    box-shadow: -2px 5px #333333, 2px 5px #333333;
    color: #333333 !important;
    outline-offset: 0;
    outline: 2px solid #fdd522;
    text-decoration: none;
    transition-duration: 0s;
}

.skiplink {
    position: absolute;
    left: -9999em;
}

.skiplink:focus {
    left: auto;
    z-index: 1;
    padding: 15px;
    width: 197px;
}

.skiptarget {
  width: 1px;
  height: 1px;
  overflow: hidden;
  float: right;
}

/* Child poverty update panels */

.panel-body > figcaption {
  font-weight: normal;
}

.panel > .panel-heading > p {
  margin-bottom: 0;
}

.sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap; /* added line */
      border: 0;
      left: 50%;
}



