
body {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-weight: 300;
  letter-spacing: -0.5px;
  margin-bottom: 35px;
  font-size: xxx-large;
}

h4 {
  font-size: x-large;
}

h5 {
  font-size: medium;
  font-weight: bold;
  color: #555;
}

p {
  margin-bottom: 16px;
  font-size: large;
  line-height: 1.8;
}

.panel-title,
figcaption,
caption {
  color: #333333;
  font-weight: 500;
  font-size: large;
}

.container-fluid > ul,
.section > ul,
.dropdown-menu,
#TOC,
#navbar {
  font-size: large;
  line-height: 1.8;
}

table {
  font-size: large;
}

a {
  color: #0065bd;
  text-decoration: underline;
  outline: 2px solid transparent;
  outline-color: transparent;
  outline-style: solid;
  outline-width: 2px;
  transition: color 0.2s, background-color 0.2s, outline 0.2s;
}

/* Navigation bar ----------------------------------------------------------- */

.navbar-brand,
.navbar-nav>li>a {
  color: #333333 !important;
  text-decoration: none;
  line-height: 1.8;
  height: 62px;
}

nav:before {
    background: #0065bd;
    display: block !important;
    content: '';
    height: 4px;
}

.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: large;
    line-height: 1.8;
    color: #777;
    white-space: nowrap;
}

.navbar-default {
    background-color: #fff;
    border-color: #e7e7e7;
}

.navbar-toggle {
  margin: 15px;
  float: left;
}

#navbar > ul > li:hover {
  background-color: #e7e7e7;
  box-shadow: 1px 5px #333333, 1px 5px #333333;
  outline-offset: 0;
  outline: 2px solid #e7e7e7;
  transition-duration: 0s;
}

/* hide navbar (and show button menu) on smaller screens -------------------- */

@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

@media (max-width: 768px) {
  .navbar-fixed-top {
    position: relative;
  }
}

/* TOC ---------------------------------------------------------------------- */

.list-group-item.active {
    background-color: #0065bd;
    border-color: #0065bd;
}

.list-group-item.active:focus,
.list-group-item.active:hover {
    background-color: #002d54;
    border-color: #002d54;
}

.tocify {
  border-radius: 4px;
}

/* Infobox ------------------------------------------------------------------ */

.infobox-text {
    padding: 8px 32px;
    border-left: 8px solid #b3b3b3;
    border-bottom: 1px solid #ebebeb;
    background-color: #f8f8f8;
    margin: 16px 0;
}

/* Key message box --------------------------------------------------------- -*/

.message-text {
    padding: 8px 32px;
    border-left: 8px solid #0065bd;
    border-bottom: 1px solid #7fb2de;
    color: #002d54;
    background-color: #d9effc;
    margin: 16px 0;
    font-size: large;
}

#sglogo {
  padding: 10px 15px;
}

/* National Statistics badge ----------------------------------------------- -*/

#badge {
  margin: 10px;
  float: right;
}

button:focus,
a:focus {
    background-color: #fdd522 !important;
    box-shadow: -2px 5px #333333, 2px 5px #333333;
    color: #333333 !important;
    outline-offset: 0;
    outline: 2px solid #fdd522;
    text-decoration: none;
    transition-duration: 0s;
}

/* Skiplink ----------------------------------------------------------------- */

.skiplink {
    position: absolute;
    left: -9999em;
}

.skiplink:focus {
    left: auto;
    z-index: 1;
    padding: 15px;
    width: 197px;
    font-size: large;
    line-height: 1.8;
    height: 62px;
}

/* Child poverty update panels ---------------------------------------------- */

.panel-body > figcaption {
  font-weight: normal;
}

.panel > .panel-heading > p {
  margin-bottom: 0;
}

/* Visible to screenreaders only */

.visually-hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap; /* added line */
      border: 0;
      left: 50%;
}

abbr[title] {
  text-decoration: none;
}

/* Make existence of tabsets clearer ---------------------------------------- */

.tab-content {
  padding: 0 16px;
  margin: 0 0 20px 0;
  border-color: #ddd;
  border-bottom-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-width: thin;
  border-radius: 0 0 4px 4px;
}

.nav-tabs > li > a {
  text-decoration: none;
  font-weight: bolder;
  font-size: medium ;
}

/* Footer ------------------------------------------------------------------- */

footer{
  display:block;
  position: relative;
  bottom:0;
}

.ds_site-footer{
  background-color:#0065bd;
  padding-bottom:8px;
  padding-top:16px;
  margin-top: 32px;
}

.ds_site-footer__site-items {
  border-bottom:1px solid rgba(255,255,255,0.2);
  font-size: medium;
  font-weight:700;
  list-style-type:none;
  margin:0 0 23px;
  padding-bottom:16px
}

.ds_site-footer__site-items > .ds_site-items__item > a,
.ds_site-footer__copyright,
.ds_site-footer__copyright > p,
.ds_site-footer__copyright > p > a{
    color: #fff;
    font-size: medium;
}

.ds_site-footer__copyright {
  padding: 0 16px;
}

.ds_site-items__item{display:inline-block}

.ds_site-items__item:not(:last-child){margin-right:20px}

@media (min-width: 768px){

  .ds_site-footer__content{overflow: hidden;}

  .ds_site-footer__copyright {
    float: left;
    position: relative;
    padding-left: 38px;
  }
}

.tocify-extend-page {
  height: 0 !important;
}

/* Back-to-top button ------------------------------------------------------- */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  text-decoration: underline;
  background-color: #f8f8f8;
  background-color: rgba(255,255,255,0.9);
  color: #0065bd;
  cursor: pointer;
  padding: 4px 16px;
  border-radius: 4px;
  font-size: medium;
  font-weight: bold;
}

#myBtn:hover {
  background-color: #d9effc;
}


/* print styles ------------------------------------------------------------- */
@media print {

  /* remove navbar, table of contents, back-to-top link, footer */
  nav, #TOC, .ds_back-to-top, footer{
    display: none;
  }
  /* show URLs */
  p a[href^="http://"]:after, a[href^="https://"]:after {
    content: " (" attr(href) ")";
  }
  p a[href^="#"]:after {
    display: none;
  }
  p a {
    word-wrap: break-word;
  }

  /* display all tab content and remove tabs */
  .tab-content > .tab-pane {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
  }
  .nav-tabs {
    display:none;
  }
  .tab-content {
    padding: 0;
    margin: 0;
    border-style: none;
    border-color: transparent;
  }
  /* page layout */
  @page {
    margin: 2cm 1cm 1cm 1cm;
  }
  figure {
    max-width: 50%;
    page-break-inside: avoid;
  }

    /* Triple charts at top */
  .col-md-4 {
    width: 33.333333%;
    float: left;
  }
  /* Child poverty panels */
  .panel {
    page-break-inside: avoid;
    margin-bottom: 10px;
  }
  figure.panel-body {
    max-width: 100%;
  }
  .col-md-6 {
    width: 50%;
    float: left;
    padding-left: 8px;
    padding-right: 8px;
  }
  .panel-title {
    font-size: 12px;
  }
  .html-widget {
    margin-bottom: -20px;
  }
  .panel-body {
    padding: 8px 8px 0 8px;
  }
  .panel-heading {
    padding: 8px 8px 4px 8px;
  }

  /* format headings and text */
  body {
    font-size: 12px;
    margin-top: 6px;
    margin-bottom: 6px;
  }
  p {
    font-size: 12px;
    line-height: 1.2;
    margin-top: 6px;
    margin-bottom: 6px;
  }
  h1 {
    font-size: 28px;
    margin-top: -74px;
    margin-bottom: 12px;
  }
  h2 {
    font-size: 16px;
  }
  h3 {
    font-size: 14px;
  }
  h4 {
    font-size: 12px;
    text-decoration: underline;
  }


  figcaption {
    font-size: 12px;
    line-height: 1.2;
  }
  li {
    margin-top: 6px;
    font-size: 12px;
    line-height: 1.2;
  }
  .message-text {
    margin-bottom: 12px;
    font-size: 12px;
    border-bottom: 0;
  }
  .infobox-text {
    border-bottom: 0;
  }
}



