#navbar a {
  color: #333333 !important; /*Greater contrast for accessibility*/
  }

.navbar-header a {
  color: #333333 !important;
}

p,
.container-fluid > ul,
.section > ul,
.dropdown-menu,
#TOC,
#navbar,
.panel-title {
  font-size: large; /*Larger font for accessibility*/
  line-height: 1.8;
}

/* TOC colours */
.list-group-item.active, 
.list-group-item.active:focus, 
.list-group-item.active:hover {
    background-color: #0065bd;
    border-color: #0065bd;
}